mixin header(items)
  +b.HEADER.header
    +e.DIV.logo
      +e.A.logo-icon-link.main-icon(href="/")
        +e.IMG.icon(src="images/logo/logo.png", alt="my-site.com")
    +e.NAV.navigation
      - var user = user || {}
      if user && user.admin
        +e.A.nav-item.item(href="/admin")
          +e.SPAN admin panel
      each item in items
        +e.A.nav-item.item(href= item.link)
          +e.SPAN= item.title
    +b.DIV.profile
      +e.DIV.container
        if user
          +b.DIV.dropdown
            +b.PICTURE.profile__picture
              +e.IMG.icon(src="https://i.imgur.com/cXz9gpv.jpg")
            +e.DIV.content
              +e.LI.item
                +e.A(href="/profile") profile
              +e.LI.item
                +e.A(href="/history") history
              +e.LI.item
                +e.A(href="/settings") settings
              hr
              +e.LI.item
                +e.A(href="/help") help
              hr
              +e.LI.item
                +e.A(href="/logout") Logout
        else
          +e.A.login-btn.button(href="/login") Login
          +e.A.registration-btn.button(href="/sign-up") Sign up
