extends ../layout/default

block vars
  -
    var page = {title: "comics"};
    
    var introSlides = [
      {name: "slide 1", imagePath: "images/tv-poster-1.png", title: "The Walking Dead", description: "The Walking Dead is an American post-apocalyptic horror television series developed by Frank Darabont for AMC that is based on the comic book series of the same name by Robert Kirkman, Tony Moore, and Charlie Adlard. Andrew Lincoln plays the show's lead character, sheriff's deputy Rick Grimes,[3] who awakens from a coma discovering a world overrun by zombies, commonly referred to as walkers. Grimes reunites with his family and becomes the leader of a group he forms with other survivors. Together they struggle to survive and adapt in a post-apocalyptic world filled with walkers and opposing groups of survivors, who are often more dangerous than the walkers themselves."},
      {name: "slide 2", imagePath: "images/tv-poster-2.jpg", title: "jessica jones", description: "Marvel's Jessica Jones, or simply Jessica Jones, is an American web television series created for Netflix by Melissa Rosenberg, based on the Marvel Comics character of the same name. It is set in the Marvel Cinematic Universe (MCU), sharing continuity with the films of the franchise, and is the second in a series of shows that lead to The Defenders crossover miniseries. The series is produced by Marvel Television in association with ABC Studios and Tall Girls Productions, with Rosenberg serving as showrunner."},
      {name: "slide 3", imagePath: "images/tv-poster-3.jpg", title: "The Flash", description: "The Flash is an American superhero television series developed by Greg Berlanti, Andrew Kreisberg, and Geoff Johns, airing on The CW. It is based on the DC Comics character Barry Allen / Flash, a costumed superhero crime-fighter with the power to move at superhuman speeds. It is a spin-off from Arrow, existing in the same fictional universe. The series follows Allen, portrayed by Grant Gustin, a crime scene investigator who gains super-human speed, which he uses to fight criminals, including others who have also gained superhuman abilities."}
    ];
    
    var recomendedMovies = [
      {name: "recomended-tv-1", link: "#", imagePath: "images/recomended-tv-1.jpg", title: "Arrow"},
      {name: "recomended-tv-2", link: "#", imagePath: "images/recomended-tv-2.png", title: "Gotham"},
      {name: "recomended-tv-3", link: "#", imagePath: "images/recomended-tv-3.jpg", title: "Agent of Shield"},
      {name: "recomended-tv-4", link: "#", imagePath: "images/recomended-tv-4.jpg", title: "Supergirl"},
      {name: "recomended-tv-5", link: "#", imagePath: "images/recomended-tv-5.jpg", title: "Punisher"}
    ];
    
    var announcedMovies = [
      {name: "anounced-tv-1", link: "#", imagePath: "images/anounced-tv-1.jpg"},
      {name: "anounced-tv-2", link: "#", imagePath: "images/anounced-tv-2.jpeg"},
      {name: "anounced-tv-3", link: "#", imagePath: "images/anounced-tv-3.jpg"},
      {name: "anounced-tv-4", link: "#", imagePath: "images/anounced-tv-4.png"},
      {name: "anounced-tv-5", link: "#", imagePath: "images/anounced-tv-5.jpg"},
      {name: "anounced-tv-6", link: "#", imagePath: "images/anounced-tv-6.jpg"},
      {name: "anounced-tv-7", link: "#", imagePath: "images/anounced-tv-7.jpg"},
      {name: "anounced-tv-8", link: "#", imagePath: "images/anounced-tv-8.jpg"},
      {name: "anounced-tv-9", link: "#", imagePath: "images/anounced-tv-9.jpg"},
      {name: "anounced-tv-10", link: "#", imagePath: "images/anounced-tv-10.png"},
      {name: "anounced-tv-11", link: "#", imagePath: "images/anounced-tv-11.png"},
      {name: "anounced-tv-12", link: "#", imagePath: "images/anounced-tv-11.jpg"}
    ];
    
    var movies = [
      {name: "tv-1", link: "#", imagePath: "images/tv-1.jpg", title: "Marvel's Avengers: Secret Wars", description: "Due to the events of Ultron Revolution, Tony Stark is trapped in another dimension. The Avengers muster all of their knowledge and strength to try and find a way to bring him back, but before they can they are attacked by a New Cabal of villains who scatter our heroes across space and time. With the help of the All New All Different Avengers (Captain Marvel, Black Panther, Ms. Marvel, Ant-Man, Wasp, and Vision) the Avengers must reunite in time to not only save Earth, but all of reality."},
      {name: "tv-2", link: "#", imagePath: "images/tv-2.jpg", title: "Marvel's Runaways", description: "Every teenager thinks their parents are evil. What if you found out they actually were? Marvel’s Runaways is the story of six diverse teenagers who can barely stand each other but who must unite against a common foe – their parents."},
      {name: "tv-3", link: "#", imagePath: "images/tv-3.png", title: "Daredevil", description: "Marvel's Daredevil is a live action series that follows the journey of attorney Matt Murdock, who in a tragic accident was blinded as a boy but imbued with extraordinary senses. Murdock sets up practice in his old neighborhood of Hell's Kitchen, New York where he now fights against injustice as a respected lawyer by day and masked vigilante at night."},
      {name: "tv-4", link: "#", imagePath: "images/tv-4.png", title: "Constantine: City of Demons", description: "This all-new animated series from Warner Bros. Animation and Blue Ribbon Content follows DC’s popular comic book character John Constantine (voiced by the live action series star Matt Ryan), a seasoned demon hunter and master of the occult. Armed with an arcane knowledge of the dark arts and a wicked wit, he fights the good fight. With his soul already damned to hell, he’ll do whatever it takes to protect the innocent. With the balance of good and evil on the line, Constantine uses his skills to face the supernatural terrors that threaten our world and send them back where they belong. After that, who knows…maybe there’s hope for him and his soul after all."},
      {name: "tv-5", link: "#", imagePath: "images/tv-5.png", title: "Freedom Fighters: The Ray", description: "All his life, Ray Terrill (Russell Tovey, Quantico, Looking) has fought injustice, dreaming of making a real difference like his older brother, a Marine who was killed in Afghanistan. One day, he stumbles upon a dying superhero from another Earth and is stunned to find that this superhero looks just like him—because it is! The dying Ray Terrill of Earth-X transfers photokinetic energy to this Earth’s Ray, making him a superhero—THE RAY."},
      {name: "tv-6", link: "#", imagePath: "images/tv-6.jpg", title: "Inhumans", description: "Marvel’s Inhumans explores the never-before-told epic adventure of the royal family, including Black Bolt, the enigmatic, commanding King of the Inhumans, with a voice so powerful that the slightest whisper can destroy a city. After the Royal Family of Inhumans is splintered by a military coup, they barely escape to Hawaii where their surprising interactions with the lush world and humanity around them may prove to not only save them, but Earth itself."},
      {name: "tv-7", link: "#", imagePath: "images/tv-7.jpg", title: "The Batman", description: "In Gotham, a metropolis where shadows run long and deep, lives The Batman. He's in his mid-twenties and just finding his way as protector, defender and Caped Crusader, while maintaining his public persona as billionaire bachelor Bruce Wayne. This animated series picks up a few years after the conclusion of the new 2005 theatrical release, Batman Begins.This younger Batman confronts updated versions of familiar foes, meeting each member of his classic Rogues' Gallery for the first time."},
      {name: "tv-8", link: "#", imagePath: "images/tv-8.png", title: "Agent Carter", description: "Years before Agent Coulson and his S.H.I.E.L.D. team swore to protect those who cannot protect themselves from threats they cannot conceive, there was Agent Peggy Carter (Hayley Atwell, Marvel Studios' Captain America: The First Avenger, Marvel Studios' Captain America: The Winter Soldier), who pledged the same oath but lived in a different time when women weren't recognized as being as smart or as tough as their male counterparts. But no one should ever underestimate Peggy."},
      {name: "tv-9", link: "#", imagePath: "images/tv-9.jpg", title: "Teen Titans", description: "In a future marked by intergalactic strife and interplanetary battles, five teenage superheroes -- Robin the Boy Wonder, Beast Boy, Cyborg, Raven and Starfire -- unite to protect Earth from a new generation of villains.Based on the DC Comics characters."},
      {name: "tv-10", link: "#", imagePath: "images/tv-10.png", title: "Legends of Tomorrow", description: "As the world crumbles, the Time Master Rip Hunter (Arthur Darvill) takes matters into his own hands; he travels 150 years into the past to assemble a carefully selected team of heroes and rogues, who together will be… Legends. Hunter has chosen what seems like an ill-matched group that includes the likes of billionaire inventor Ray Palmer (Brandon Routh), who has created an exo-suit with the power to shrink him to miniscule size as the Atom."},
      {name: "tv-11", link: "#", imagePath: "images/tv-11.jpg", title: "Constantine", description: "John Constantine is a man waging war against the forces of darkness — from both within himself and the outside world. An irreverent, working-class con man and occult expert, he’s an experienced exorcist and demonologist with an extensive list of supernatural contacts, with their own paranormal talents and abilities."},
      {name: "tv-12", link: "#", imagePath: "images/tv-12.png", title: "Black Lightning", description: "Jefferson Pierce (Cress Williams) is a man wrestling with a secret. As the father of two daughters and principal of a charter high school that also serves as a safe-haven for young people in a neighborhood overrun by gang violence, he is a hero in his community. Nine years ago, Pierce was a hero of a different sort. Gifted with the superhuman power to harness and control electricity, he used those powers to keep his hometown streets safe as the masked vigilante Black Lightning."}
    ];

block vendors
  link(rel="stylesheet", href="libs/slick-1.8.0/slick/slick.css")
  link(rel="stylesheet", href="stylesheets/slick-theme.css")
  link(rel="stylesheet", href="stylesheets/style.css")
  link(rel="stylesheet", href="stylesheets/movies.css")
  //-- link(rel="stylesheet", href="stylesheets/filter.css")

block scripts
  script(src="libs/slick-1.8.0/slick/slick.min.js")
  script(src="javascripts/movies.js")

mixin intro(slides)
  +b.SECTION.intro
    each slide in slides
      +b.DIV.poster
        +e.PICTURE.picture
          +e.IMG(src= slide.imagePath, alt= slide.name)
        +e.DIV.info
          +e.P.title= slide.title
          +e.P.description= slide.description

mixin movieShort(movie)
  +b.DIV.movie
    +e.A(href= movie.link)
      +e.PICTURE.picture
        +e.IMG(src= movie.imagePath, alt= movie.name)
      +e.P.title= movie.title

mixin movie(movie)
  +b.DIV.movie
    +e.PICTURE.picture
      +e.A(href= movie.link)
        +e.IMG(src= movie.imagePath, alt= movie.name)
    +e.DIV.description
      +e.P.title= movie.title
      +e.P.text.text= movie.description

mixin moviePoster(poster)
  picture
    a(href= poster.link)
      img(src= poster.imagePath, alt= poster.name)

block content
  +b.MAIN.content
    +e.ASIDE.filter
      +filter()
    +e.ARTICLE.movies-wrap.comics-wrap
      +intro(introSlides)
      +b.DIV.movies-container
        +b.SECTION.recomended-movies
          +e.H3.title Recomended TV Shows
          +e.DIV.content.content
            each movie in recomendedMovies
              +movieShort(movie)
        +b.SECTION.anounced-movies
          +e.H3.title Anounced TV Shows
          +e.DIV.slider(slickDots="center", doted="true")
            each poster in announcedMovies
              +moviePoster(poster)
        +b.SECTION.movies
          +e.H3.title TV
          +e.DIV.content.content
            each movie in movies
              +movie(movie)
